<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="icon" href="/img/rolex-logo.png" type="image/icon type" class="rounded-circle">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: "Lato", sans-serif;
        }

        /* Style the tab */
        .tab {
            float: left;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 12%;
            height: 100%;
        }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
            background-color: #A4ABBB;
        }

        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 2px;
            border: 1px solid #ccc;
            width: 88%;
            border-left: none;
            height: 100%;
        }
    </style>
    <style>
        .nav-link:hover {
            background-color: #A4ABBB; /* Цвет фона при наведении на кнопку */
        }
    </style>
    <style>
        .navbar.fixed-top {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000; /* Гарантирует, что навигационная панель будет на верхнем слое */
        }

        body {
            padding-top: 56px; /* Учитывает высоту закрепленной навигационной панели, чтобы контент не перекрывался */
        }

    </style>
    <style>
        /* Стили для модального окна */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .btn-close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .btn-close:hover,
        .btn-close:focus {
            color: #000;
            text-decoration: black;
            cursor: pointer;
        }

        .table-modal {
            display: contents;
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
            crossorigin="anonymous"></script>
    <script>
        function openCity(evt, cityName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";


        }

        document.getElementById("defaultOpen");

        document.addEventListener('DOMContentLoaded', function () {
            // refreshTable();
        });
    </script>

</head>
<body>

<nav class="navbar navbar-expand=sm navbar-dark bg-secondary navbar fixed-top ">
    <div class="container-xxl">
        <div class="col-md-3 mb-md-0 mb-3">
            <p class="mb-0" th:text="${users1.name}"
               style="font-size: 25px; font-weight: bold; color: white; font-style: italic; text-align: left;">
            </p>
        </div>
        <b><i><a class="btn btn-lg text-light" href="/logout" th:method="post">Logout</a></i></b>
    </div>
</nav>

<div class="tab">
    <div th:if="${#request.isUserInRole('ROLE_ADMIN')}">
        <button class="tablinks" id="adminLeftBtn" onclick="openCity(event, 'Admin')">Admin</button>
    </div>
    <button class="tablinks" onclick="openCity(event, 'User')" id="defaultOpen">User</button>
</div>

<!--//////////////////////////////////////////////Users list start//////////////////////////////////////////////////-->

<div id="Admin" class="tabcontent" style="display:none;">
    <br><br>
    <h3>Users List</h3>
    <!--    <div class="card text-center">-->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-users-list" data-bs-toggle="tab"
                            data-bs-target="#tab-users-list-content" type="button" role="tab"
                            aria-controls="tab-users-list-content"
                            th:classappend="${hasErrors} ? '' : 'active'"
                            th:attr="aria-selected=${hasErrors} ? 'false' : 'true'">
                        Users table
                    </button>
                </li>
                <li class="nav-item">
                    <div th:if="${#request.isUserInRole('ROLE_ADMIN')}">
                        <button class="nav-link active" style="background-color: lightsteelblue" aria-current="true"
                                onclick="openCity(event, 'NewUser')">
                            New User
                        </button>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="background-color: lightsteelblue" href="/">Back</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="container-xxl">
            <div align='left'>
                <div th:switch="${users}">
                    <div class="col-md-10">
                        <h2 th:case="null">No Users yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md" align='center' id="userTable">
                                <thead>
                                <tr>
                                    <th scope="col" style="background-color: cornflowerblue" id="tId">id</th>
                                    <th scope="col" style="background-color: cornflowerblue" id="tName">Name</th>
                                    <th scope="col" style="background-color: cornflowerblue" id="tSurname">Surname</th>
                                    <th scope="col" style="background-color: cornflowerblue" id="tAge">Age</th>
                                    <th scope="col" style="background-color: cornflowerblue" id="tLevel">Level</th>
                                    <th scope="col" style="background-color: cornflowerblue" id="tPoints">Points</th>
                                    <!--                                            <th scope="col" style="background-color: cornflowerblue">Password</th>-->
                                    <th scope="col" style="background-color: cornflowerblue">Roles</th>
                                    <th style="background-color: sandybrown">Edit</th>
                                    <th style="background-color: coral">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="demoA">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////Users list end//////////////////////////////////////////////////-->

<!--//////////////////////////////////////////////User start//////////////////////////////////////////////////-->

<div id="User" class="tabcontent" style="display:none;">
    <br><br>
    <h3>User Details</h3>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#"
                    >User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Back</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="container">
            <div style="text-align: center;">
                <h1>User Details</h1>
            </div>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th scope="col" style="background-color: cornflowerblue">ID</th>
                    <th scope="col" style="background-color: cornflowerblue">Name</th>
                    <th scope="col" style="background-color: cornflowerblue">Surname</th>
                    <th scope="col" style="background-color: cornflowerblue">Age</th>
                    <th scope="col" style="background-color: cornflowerblue">Level</th>
                    <th scope="col" style="background-color: cornflowerblue">Points</th>
                    <th scope="col" style="background-color: cornflowerblue">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${users1}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{surname}"></td>
                    <td th:text="*{age}"></td>
                    <td th:text="*{level}"></td>
                    <td th:text="*{points}"></td>
                    <td th:text="${users1.roles}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////User end//////////////////////////////////////////////////-->

<!--//////////////////////////////////////////////////New useR////////////////////////////////////////////////////////////-->

<div id="NewUser" class="tabcontent" style="display:none;">
    <br><br>
    <h3>New user</h3>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <div th:if="${#request.isUserInRole('ROLE_ADMIN')}">
                        <button class="nav-link active" aria-current="true" style="background-color: lightsteelblue"
                                onclick="openCity(event, 'Admin')">
                            Users table
                        </button>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#"
                    >New User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="background-color: lightsteelblue" href="/">Back</a>
                </li>
            </ul>
        </div>
        <br>
        <div align="center">
            <h3>New User</h3>
            <i style="color: blue">При создании пользователей имена должны быть уникальными!</i>
            <form th:action="@{/api/users/}" th:method="post" th:object="${user}" id="createNewUser">
                <table border="0" cellpadding="5">
                    <tr>
                        <td>Name:</td>
                        <td>
                            <label>
                                <input placeholder="Must be the unique name"
                                       type="text" th:field="*{name}" id="nameNewUser"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>
                            <label>
                                <input placeholder="Surname" type="text" th:field="*{surname}" id="surnameNewUser"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>
                            <label>
                                <input placeholder="Age" type="number" th:field="*{age}" id="ageNewUser"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Level:</td>
                        <td>
                            <label>
                                <input placeholder="level" type="number" th:field="*{level}" id="levelNewUser"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Points:</td>
                        <td>
                            <label>
                                <input placeholder="points" type="number" th:field="*{points}" id="pointsNewUser"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <label>
                                <input placeholder="password" type="password"
                                       th:field="*{password}" id="passwordNewUser" autocomplete/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Roles:</td>
                        <td>
                            <label th:each="role:${roles1}"
                                   th:for="${'role_' + role.id}">
                                <input th:type="checkbox"
                                       th:id="'role_' + ${role.id}"
                                       th:name="'roles'"
                                       th:value="${role.id}"
                                       id="rolesNewUser"/>
                                <span th:text="${role.role}"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Save"
                                   class="btn btn-success" id="SaveCratedUser"/>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
        </div>
    </div>
</div>

<!--////////////////////////////////////////////////////////Edit Modal Start///////////////////////////////////////////////////////////////////-->

<div class="modal" id="edit-modal-window" role="dialog"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Edit
                    User</h3>
                <button class="btn-close"
                        id="close_edit_modal" aria-label="close">
                </button>
            </div>
            <div class="modal-body">
                <div align="center">
                    <h2>Edit User</h2>
                    <form id="edit-user-form">
                        <div id="table-modal-edit" class="table-modal" border="0" cellpadding="5">
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    ID:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editID">
                                        <input class="form-control" id="editID"
                                               type="number" disabled/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Name:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editName">
                                        <input placeholder="Must be the unique name"
                                               class="form-control" id="editName"
                                               type="text" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Surname:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editSurname">
                                        <input class="form-control" id="editSurname"
                                               type="text" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Age:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editAge">
                                        <input class="form-control" id="editAge"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Level:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editLevel">
                                        <input class="form-control" id="editLevel"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Points:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editPoints">
                                        <input class="form-control" id="editPoints"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Password:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="editPassword">
                                        <input class="form-control" id="editPassword"
                                               placeholder="password"
                                               type="password" autocomplete required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Roles:
                                </div>
                                <div class="col">
                                    <div id="editOptions">
                                        <label for="editRoleSelectADMIN">ADMIN</label>
                                        <input type="checkbox" id="editRoleSelectADMIN"
                                               value="ROLE_ADMIN" checked>
                                        &nbsp;&nbsp;
                                        <label for="editRoleSelectUSER">USER</label>
                                        <input type="checkbox" id="editRoleSelectUSER"
                                               value="ROLE_USER" checked>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="save_edit_modal"
                                class="btn- btn-secondary">Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////Edit-Modal-End////////////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////Delete-Modal-Start////////////////////////////////////////////////////////////////-->

<div class="modal" id="delete-modal-window" role="dialog"
     tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel1">Delete
                    User</h3>
                <button class="btn-close"
                        id="close_delete_modal" aria-label="close">
                </button>
            </div>
            <div class="modal-body">
                <div align="center">
                    <h2>Delete User</h2>
                    <form id="delete-user-form">
                        <div id="table-modal-delete" border="10" cellpadding="5">
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    ID:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deleteID">
                                        <input class="form-control" id="deleteID"
                                               type="number" disabled/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Name:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deleteName">
                                        <input placeholder="Must be the unique name"
                                               class="form-control" id="deleteName"
                                               type="text" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Surname:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deleteSurname">
                                        <input class="form-control" id="deleteSurname"
                                               type="text" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Age:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deleteAge">
                                        <input class="form-control" id="deleteAge"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Level:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deleteLevel">
                                        <input class="form-control" id="deleteLevel"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Points:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deletePoints">
                                        <input class="form-control" id="deletePoints"
                                               type="number" required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Password:
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold" for="deletePassword">
                                        <input class="form-control" id="deletePassword"
                                               placeholder="password"
                                               type="password" autocomplete required/>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-cols-auto">
                                <div class="col-4">
                                    Roles:
                                </div>
                                <div class="col">
                                    <div id="deleteOptions">
                                        <label for="deleteRoleSelectADMIN">ADMIN</label>
                                        <input type="checkbox" id="deleteRoleSelectADMIN"
                                               value="ROLE_ADMIN" checked>
                                        &nbsp;&nbsp;
                                        <label for="deleteRoleSelectUSER">USER</label>
                                        <input type="checkbox" id="deleteRoleSelectUSER"
                                               value="ROLE_USER" checked>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="save_delete_modal"
                                class="btn- btn-secondary">Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--///////////////////////////////////////////Delete-Modal-End////////////////////////////////////////////////////////////////-->

<script>
    // Заполнение основной таблицы
    let usersList = [];
    window.addEventListener("load", () => {

        // (B) FETCH DATA FROM REST API
        fetch('http://localhost:8080/api/users/')
            .then(response => response.json())
            .then(data => {
                usersList = data;
                // Добавляет данные строки в создаваемый tbody

                data.forEach(obj => {
                    let row = demoATbody.insertRow();
                    for (let key in obj) {
                        // Skip the "password" key
                        if (key !== "password") {
                            let cell = row.insertCell();
                            if (key === "roles") {
                                // Display role values from array
                                let roles = obj[key];
                                if (Array.isArray(roles)) {
                                    cell.innerHTML = roles.map(role => role.role).join(", ");
                                } else {
                                    cell.innerHTML = "N/A";
                                }
                            } else {
                                cell.innerHTML = obj[key];
                            }
                        }
                    }

                    // Add edit button
                    let user = obj;
                    let editCell = row.insertCell();
                    let editButton = document.createElement("button");
                    editButton.innerHTML = "Edit";
                    editButton.classList.add("btn", "btn-warning");
                    editButton.setAttribute("onclick", "editButtonHandler(event)");
                    editButton.setAttribute("data-userid", user.id);
                    editButton.setAttribute("id", "idButtonEdit");
                    // editButton.setAttribute("data-target", "#editModal");
                    editCell.append(editButton);


                    // Add delete button
                    let deleteCell = row.insertCell();
                    let deleteButton = document.createElement("button");
                    deleteButton.innerHTML = "Delete";
                    deleteButton.classList.add("btn", "btn-danger");
                    deleteButton.setAttribute("onclick", "deleteButtonHandler(event)");
                    deleteButton.setAttribute("data-userid", user.id);
                    deleteButton.setAttribute("id", "idButtonDelete");
                    // deleteButton.setAttribute("data-target", "#deleteModal");
                    deleteCell.append(deleteButton);
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<script>

    // Обработчик события нажатия кнопки "Edit" в таблице
    function editButtonHandler(event) {
        event.preventDefault();
        let userId = Number.parseInt(event.target.dataset.userid);
        const user = usersList.find(user => user.id === userId);
        fillModalWithData(user);
        //show modal window
        openEditModal();
    }

    // Обработчик события нажатия кнопки "Edit" в таблице
    function deleteButtonHandler(event) {
        event.preventDefault();
        let userId = Number.parseInt(event.target.dataset.userid);
        const user = usersList.find(user => user.id === userId);
        fillModalDeleteWithData(user);
        //show modal window
        openDeleteModal(userId);
    }

    //  Открытие модального окна
    function openEditModal() {
        modalEdit.style.display = 'block';
    }


    //  Крестик закрытия модального окна
    document.querySelector('.btn-close').addEventListener('click', function () {
        modalEdit.style.display = 'none';
    });

    function openDeleteModal() {
        modalDelete.style.display = 'block';
    }

    document.querySelector('.btn-close').addEventListener('click', function () {
        modalDelete.style.display = 'none';
    });


    let tableContent = document.getElementById('table-modal-edit').innerHTML;

    function populateForm(formId) {
        const form = document.getElementById(formId);
        form.innerHTML = tableContent;
    }

    // Вызов функции для заполнения формы edit-modal-window
    populateForm('table-modal-edit');


    // Прослушиваем событие клика на весь документ
    window.addEventListener('click', function (event) {
        // Проверяем, что клик был сделан вне модального окна
        if (event.target === modalEdit || event.target === modalDelete || event.target === modalDeleteClose) {
            modalEdit.style.display = 'none'; // Закрываем модальное окно
            modalDelete.style.display = 'none'; // Закрываем модальное окно
            modalDeleteClose.style.display = 'none'; // Закрываем модальное окно
        }
    });


    // Функция для отправки данных пользователя на сервер и получения ответа от сервера
    async function updateUserOnServer(updatedUser) {
        try {
            const response = await fetch('/api/users/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedUser)
            });

            if (response.ok) {
                console.log('User updated successfully');
                adminLeftBtn.click();
                modalEdit.style.display = 'none'; // закрывается модальное окно
                return refreshTable();
            } else {
                console.log('Failed to update user');
            }
        } catch (error) {
            console.error('Error updating user:', error);
        }
    }

    async function elementUpdate(selector) {
        try {
            const html = await (await fetch(location.href)).text();
            const newdoc = new DOMParser().parseFromString(html, 'text/html');
            document.querySelector(selector).outerHTML = newdoc.querySelector(selector).outerHTML;
            console.log('Элемент ' + selector + ' был успешно обновлен');
            return true;
        } catch (err) {
            console.log('При обновлении элемента ' + selector + ' произошла ошибка:');
            console.error(err);
            return false;
        }
    }

    // Функция, которая заполняет форму модального окна данными выбранного пользователя
    function fillModalWithData(user) {
        document.getElementById('editID').value = user.id;
        document.getElementById('editName').value = user.name;
        document.getElementById('editSurname').value = user.surname;
        document.getElementById('editAge').value = user.age;
        document.getElementById('editLevel').value = user.level;
        document.getElementById('editPoints').value = user.points;
        document.getElementById('editPassword').value = user.password;
        document.getElementById('editRoleSelectUSER').checked = JSON.stringify(user.roles).includes('ROLE_USER');
        document.getElementById('editRoleSelectADMIN').checked = JSON.stringify(user.roles).includes('ROLE_ADMIN');
    }


    // Обработчик на кнопку "Сохранить" в модальном окне
    document.getElementById('save_edit_modal').addEventListener('click', function (event) {
        event.preventDefault();
        const updatedUser = {
            id: document.getElementById('editID').value,
            name: document.getElementById('editName').value,
            surname: document.getElementById('editSurname').value,
            age: document.getElementById('editAge').value,
            level: document.getElementById('editLevel').value,
            points: document.getElementById('editPoints').value,
            password: document.getElementById('editPassword').value,
            roles: []
        };
        if (document.getElementById('editRoleSelectUSER').checked) {
            updatedUser.roles.push({
                "id": 2,
                "role": "ROLE_USER"
            });
        }
        if (document.getElementById('editRoleSelectADMIN').checked) {
            updatedUser.roles.push({
                "id": 1,
                "role": "ROLE_ADMIN"
            });
        }
        // Обработчик функции для отправки данных пользователя на сервер
        updateUserOnServer(updatedUser);
    });

    function fillModalDeleteWithData(user) {
        document.getElementById('deleteID').value = user.id;
        document.getElementById('deleteName').value = user.name;
        document.getElementById('deleteSurname').value = user.surname;
        document.getElementById('deleteAge').value = user.age;
        document.getElementById('deleteLevel').value = user.level;
        document.getElementById('deletePoints').value = user.points;
        document.getElementById('deletePassword').value = user.password;
        document.getElementById('deleteRoleSelectUSER').checked = JSON.stringify(user.roles).includes('ROLE_USER');
        document.getElementById('deleteRoleSelectADMIN').checked = JSON.stringify(user.roles).includes('ROLE_ADMIN');
    }

</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
</script>
<script src="/js/rest.js"></script>
</body>
</html>